%header.sixteen.columns
  %hgroup
    %h1 Nom Roulette
    %h2.tagline{:role => 'button'} Give it a spin
  %hr/
.sixteen.columns
  %h2#text
    &nbsp;
  %hr/
.two.columns
  &nbsp;
.eight.columns
  #map
.four.columns.left
  #infoBox
    &nbsp;
.sixteen.columns
  %hr
%footer.sixteen.columns
  :markdown
     Made by [Stephen](http://twitter.com/wyattdanger) and [Aaron](http://twitter.com/aaronrobbs) for [10K Apart](http://10k.aneventapart.com/)
  %script{:type => 'template', :id => "info"}
    %ul
      %li 
        %strong \#{ this.name }
      %li \#{ this.formatted_address }
      %li \#{ this.formatted_phone_number }
= refresh
