/** Skeleton V1.1
 ** Copyright 2011, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 8/17/2011 */
/* Table of Content
 *==================================================
 *	#Reset & Basics
 *	#Basic Styles
 *	#Site Styles
 *	#Typography
 *	#Links
 *	#Lists
 *	#Images
 *	#Buttons
 *	#Tabs
 *	#Forms
 *	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
 *================================================== */
/* line 26, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 34, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
body {
  line-height: 1;
}

/* line 40, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ol, ul {
  list-style: none;
}

/* line 43, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote, q {
  quotes: none;
}

/* line 47, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 52, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 56, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
 *================================================== */
/* line 63, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
body {
  background: white;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
 *================================================== */
/* line 74, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 79, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 82, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 87, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 92, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 97, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 102, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 106, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 110, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
.subheader {
  color: #777777;
}

/* line 113, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
p {
  margin: 0 0 20px 0;
}
/* line 115, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
p img {
  margin: 0;
}
/* line 117, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777777;
}

/* line 122, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
em {
  font-style: italic;
}

/* line 125, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
strong {
  font-weight: bold;
  color: #333333;
}

/* line 129, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
small {
  font-size: 80%;
}

/*	Blockquotes */
/* line 134, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote {
  font-size: 17px;
  line-height: 24px;
  color: #777777;
  font-style: italic;
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #dddddd;
}
/* line 139, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777777;
  font-style: italic;
}
/* line 147, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555555;
}
/* line 151, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 153, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote cite a {
  color: #555555;
}
/* line 155, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
blockquote cite a:visited {
  color: #555555;
}

/* line 158, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 30px 0 30px;
  height: 0;
}

/* #Links
 *================================================== */
/* line 168, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a {
  color: #333333;
  text-decoration: underline;
  outline: 0;
}
/* line 172, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a:visited {
  color: #333333;
  text-decoration: underline;
  outline: 0;
}
/* line 176, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a:hover, a:focus {
  color: black;
}

/* line 179, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
p a {
  line-height: inherit;
}
/* line 181, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
p a:visited {
  line-height: inherit;
}

/* #Lists
 *================================================== */
/* line 187, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul, ol {
  margin-bottom: 20px;
}

/* line 190, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul {
  list-style: none outside;
}

/* line 193, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ol {
  list-style: decimal;
  margin-left: 30px;
}

/* line 198, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}
/* line 200, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.square {
  list-style: square outside;
}
/* line 202, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.circle {
  list-style: circle outside;
}
/* line 204, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.disc {
  list-style: disc outside;
}
/* line 206, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul ul, ul ol {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 211, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 216, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul ul li, ul ol li {
  margin-bottom: 6px;
}

/* line 220, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 223, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 227, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.large li, li p {
  line-height: 21px;
}

/* #Images
 *================================================== */
/* line 233, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* #Buttons
 *================================================== */
/* line 240, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a.button, button {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 274, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaaaaa;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 307, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a.button:hover, button:hover {
  color: #222222;
  background: #dddddd;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888888;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}

/* line 328, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222222;
  background: #dddddd;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888888;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}

/* line 348, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
a.button:active, button:active {
  border: 1px solid #666666;
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */
}

/* line 366, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666666;
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */
}

/* line 383, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
.button.full-width, button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* line 390, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}

/* #Tabs (activate in tabs.js)
 *================================================== */
/* line 400, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: solid 1px #dddddd;
}
/* line 405, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
  margin-bottom: 0;
}
/* line 412, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 29px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #dddddd;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f5f5f5;
  font-size: 13px;
}
/* line 424, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li a.active {
  background: white;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #111111;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 439, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}
/* line 440, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li:first-child a.active {
  margin-left: 0;
}
/* line 446, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs li:last-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
/* line 450, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs-content {
  margin: 0;
  display: block;
}
/* line 453, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs-content > li {
  display: none;
}
/* line 455, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs-content > li.active {
  display: block;
}
/* line 457, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs {
  zoom: 1;
}
/* line 458, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs:before {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 465, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
ul.tabs:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

/* Clearfixing tabs for beautiful stacking */
/* #Forms
 *================================================== */
/* line 480, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
form, fieldset {
  margin-bottom: 20px;
}

/* line 484, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid #cccccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: white;
}

/* line 500, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
textarea {
  border: 1px solid #cccccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: white;
}

/* line 516, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
select {
  border: 1px solid #cccccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: white;
  padding: 0;
}

/* line 534, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border: 1px solid #aaaaaa;
  color: #444444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 541, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
textarea {
  min-height: 60px;
}
/* line 542, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
textarea:focus {
  border: 1px solid #aaaaaa;
  color: #444444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 550, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 555, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
select {
  width: 220px;
}

/* line 558, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
input[type="checkbox"] {
  display: inline;
}

/* line 561, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444444;
}

/* #Misc
 *================================================== */
/* line 569, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 572, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 575, /Users/stephenwyattbush/github/10k/dynamic/stylesheets/base.sass */
.add-bottom {
  margin-bottom: 20px !important;
}
