!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Nom Roulette
    %meta{:content => "Nom Roulette helps you find a place to eat within a couple miles of where you are.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    :plain
      <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|IM+Fell+Great+Primer' rel='stylesheet' type='text/css'>
    %link{:href => "stylesheets/site.css", :rel => "stylesheet"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
  %body
    .container.twelve
      = yield
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    :plain
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
      <script type="text/javascript" src="./javascripts/app.js"></script>
