/*
 ** Skeleton V1.1
 ** Copyright 2011, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 8/17/2011

/* Table of Content
 *==================================================
 *	#Reset & Basics
 *	#Basic Styles
 *	#Site Styles
 *	#Typography
 *	#Links
 *	#Lists
 *	#Images
 *	#Buttons
 *	#Tabs
 *	#Forms
 *	#Misc

/* #Reset & Basics (Inspired by E. Meyers)
 *==================================================

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

/* #Basic Styles
 *==================================================

body
  background: #fff
  font: 14px / 21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  -webkit-font-smoothing: antialiased
  /* Fix for webkit rendering
  -webkit-text-size-adjust: 100%

/* #Typography
 *==================================================

h1, h2, h3, h4, h5, h6
  color: #181818
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
  font-weight: normal

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit

header
  position: relative
  &::before, &::after
    position: absolute
    content: ''
    display: block
    width: 100px
    height: 20px
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAUCAMAAABMHminAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACdQTFRFSkpKAAAAmZmZeHh4tLS0GRkZw8PDhoaGZmZm8PDw29vb////Pj4+da3ZUgAAANFJREFUeNq8VAkOwyAMcyihdM3/3zsg63qAhiYOSxUSojiOY7BPAPItcjNImlicUAAL0hpQJtmZwi5ngHugxEEOxFRVYnw4RWD6GwBCF+pK7IJYNDFMHVeCb001JS+7rDjbc/yrHxO3K7H+c7dwGZklRU/4l5KLB+lKg1TXCbHN0+X51hvKdIhpzslNB61eC+gbRqivAG9x1GNSuifeq47YEA4zRmnpTGLVhyhi33R00Z1k0SE/Ah/R/YF0mrSxT70KkbEkoAEuPElkhpIJeAswANVwRJ2SP3BbAAAAAElFTkSuQmCC) 0 0 no-repeat
    bottom: 52px
  &::before
    left: 250px
  &::after
    right: 250px
    -webkit-transform: scale(-1,1)
    -moz-transform: scale(-1,1)
    -ms-transform: scale(-1,1)
    -o-transform: scale(-1,1)
    transform: scale(-1,1)
h1
  font-size: 46px
  line-height: 50px
  margin-top: 40px
  margin-bottom: 0
  font-family: hellenic-wide, "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
  font-weight: 700

@-webkit-keyframes spin
  0%
    top: -200px
  30%
    top: -20px
  100%
    top: 0px

h2
  font-size: 32px
  line-height: 40px
  margin-bottom: 4px
  font-family: garamond-premier-pro, "IM Fell Great Primer", "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
  font-weight: 300
  &.tagline
    height: 20px
    width: 225px
    text-align: center
    text-transform: uppercase
    font-family: hellenic-wide, "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
    display: block
    margin: 0 auto
    position: relative
    line-height: 28px
    overflow: hidden
    -webkit-transition: background 2s ease-out
    -moz-transition: background 2s ease-out
    -ms-transition: background 2s ease-out
    -o-transition: background 2s ease-out
    transition: background 2s ease-out
    b
      position: absolute
      overflow: hidden
      font-size: 15px
      display: block
      text-align: center
      width: inherit
      -webkit-animation: spin 1.5s ease-out 
  a
    text-decoration: none
    &[href]
      color: #666
      text-decoration: underline

p
  margin: 0 0 20px 0
  img
    margin: 0
  &.lead
    font-size: 21px
    line-height: 27px
    color: #777

strong
  font-weight: bold
  color: #333

/*	Blockquotes

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 30px 0 30px
  height: 0

/* #Links
 *==================================================

a
  color: #333
  text-decoration: underline
  outline: 0
  &:visited
    color: #333
    text-decoration: underline
    outline: 0
  &:hover, &:focus
    color: #000


/* #Lists
 *==================================================

ul
  margin-bottom: 20px

ul
  list-style: none outside

ul
  ul li
    margin-bottom: 6px

li
  line-height: 18px
  margin-bottom: 12px


